* {
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  background-color: #e5d0ac;
  color: #a31d1d;
}
section {
  display: none;
}
section:target {
  display: block;
}

nav {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #e5d0ac;
  padding: 10px 200px;
  text-decoration: none;
  margin-bottom: 10px;
  top: 0;
}
a {
  text-decoration: none;
  color: #a31d1d;
  margin-right: 20px;
  margin-left: 20px;
  font-weight: 700;
  font-size: 20px;
}
a:hover {
  color: black;
  border-bottom: 1px solid #a31d1d;
}
#home {
  scroll-snap-align: start;
  height: 100vh;
  padding: 100px 200px;
  background-color: #1d1616;
}
#home h1 {
  font-size: 60px;
  padding: 40px;
  text-align: center;
  color: #a31d1d;
}
#lottie {
  margin-left: 480px;
  margin-top: 80px;
}
#hobbies-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  background-color: #1d1616;
  height: 100vh;
}
.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 150px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
}

.img-img {
  width: 100%;
  height: auto;
}
.card:hover {
  transform: scale(1.3);
}

.container {
  text-align: center;
  background-color: #1d1616;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #1d1616;
}
#birthday-content {
  background-color: #1d1616;
  height: 100vh;
}
#birthday {
  background-color: #1d1616;
}
#birthday-image {
  width: 200%;
  height: 200%;
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
  animation: hideImage 5s forwards;
  margin-left: 600px;
}

@keyframes hideImage {
  0%,
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

#birthday-form {
  display: none;
  animation: showForm 5s forwards;
  width: 50%;
  margin-left: 400px;
}

@keyframes showForm {
  0%,
  99% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

#birthday-form textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

#birthday-form button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background: #a31d1d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

#thank-you {
  display: none;
  text-align: center;
  font-size: 1.2em;
  color: #000000;
  margin-top: 20px;
  padding: 100px;
}

#birthday-image:not(:target) + #birthday-form {
  display: block;
}

#thank-you:target {
  display: block;
}

#thank-you:target ~ #birthday-form {
  display: block;
}
#birthday-form {
  display: none;
}
#wish_list {
  background-color: #1d1616;
  height: 100vh;
}
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 80%;
  max-width: 600px;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.slides {
  display: flex;
  width: 500%;
  animation: slide 15s infinite;
}

.slides img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}
#cv h2,
li,
p {
  background-color: #1d1616;
}
li::marker {
  background-color: #1d1616;
  color: #1d1616;
}
